<div>
  <div >
    <div style="padding: 10px;">
      <button (click)="editLayout()" class="btn btn-primary">{{editLayoutText}}</button>
      <button (click)="addItem()" class="btn btn-primary" *ngIf="options.displayGrid !== 'none'">Add Item</button>
      <button (click)="getLayout()" class="btn btn-primary">Get layout</button>
     
    </div>
    <div class="options" style="height: 600px;">
      
      <div style="float:left;width: 100%;height: 600px;">
          <gridster [options]="options">
              <gridster-item [item]="item" *ngFor="let item of dashboard">
                <cch-widget-container [gridItem]="this.item" (onRemove)="removeItem($event,this.item)"></cch-widget-container>
              </gridster-item>
            </gridster>
      </div>
      <div *ngIf="isSlideInVisible" style="z-index: 2; background-color: #EFF1F2;height: 100%; width: 300px;right: 0;float:right;position: fixed;height: 600px;">
        <cch-slide-in></cch-slide-in>
      </div>

    </div>


  </div>
 
</div>